
/* ------------------------------------------------------------------ */
/*    Global custom styles
 ------------------------------------------------------------------ */

 :root {
  --gray0: #fafafa;
  --gray1: #eeeeee;
  --gray2: #ababab;
  --gray3: #8a8a8a;
  --gray4: #727272;
  --gray5: #2d2d2d;
}

/*=======================================
=            Tab
=======================================*/